html{
 box-sizing: border-box;
}
*,
*::after,
*::before {
 box-sizing: inherit;
}
/* Universal Box Sizing with Inheritance */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    text-align: center;
}
.menu {
    background-color: #000000;
    display: flex;
    justify-content: center;
    max-width: 120rem;
    margin: 0;
}
.menu a {
    text-decoration: none;
    padding: 10px 25px;
    color: #ffffff;
}
a:hover {
    color: #000000;
    background-color: antiquewhite;
}
.principal {
    max-width: 120rem;
    margin: 0 auto;
}


